<mat-card>
<form [formGroup]="login" (ngSubmit)="onSubmit()">
  <div style="margin: 20%"></div>
  <mat-form-field>
    <mat-label>Contact</mat-label>
    <input matInput formControlName="contact">
    <mat-error *ngIf="submit">Invalid email or Password</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>
  <br>
  <button type="submit" mat-raised-button color="primary">Login</button>
  <a mat-button color="accent" routerLink="/auth/register" routerLinkActive="active">Register</a>
</form>
</mat-card>

